@page
@using SeeSharpLMS.Utility
@model SeeSharpLMS.CreateAltModel

@{
    ViewData["Title"] = "Create Enrollment";
}

@if (User.IsInRole(SD.StudentRole))
{

    <div class="container row">
        <h1 class="col-9">Create Enrollment</h1>


    </div>
    <table class="table table-info">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Section[0].Course.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section[0].Course.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section[0].ApplicationUser.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section[0].Term)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section[0].DisplayTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section[0].Days)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section[0].Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section[0].EnrollmentCap)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-info bg-light">
            @foreach (var item in Model.Section)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Term.TermDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentCap)
                </td>
                <td>
                    <a asp-page="./ConfirmEnrollment" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Add Class</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="text-danger">Access Denied</h1>

}
